{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "stylelint"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      null,
      {
        "usePrettierrc": true
      }
    ],
    "node/no-unsupported-features": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-missing-require": [
      "error",
      {
        "allowModules": [],
        "resolvePaths": [],
        "tryExtensions": [
          ".js",
          ".jsx",
          ".json",
          ".node"
        ]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": [
          "Label"
        ],
        "required": {
          "every": [
            "nesting",
            "id"
          ]
        },
        "allowChildren": true
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to",
          "hrefLeft",
          "hrefRight"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "test_utilities/**/*.js",
          "**/*.dev.js",
          "**/dev.js",
          "**/*.test.jsx",
          "**/*.spec.js",
          "**/*.spec.jsx",
          "**/tools/jest/*.js",
          "jest.setup.js",
          "tools/**/*.js",
          "/gulpfile.js",
          "**/mocks.js"
        ]
      }
    ]
  }
}